/*lab1*/
h1 {
    color: blue;
    font-size: italic;

}

.highlight{
    background-color: yellow;
    color: red;
}

#main-header{
    color: green;
}

a:hover {
    color: red;
}


/*lab2*/
.data-card{
    width: 200px;
    padding: 10px;
    border: 1px solid black;
    margin: 10px;
    box-sizing: border-box;

}

/*lab3*/
.dashboard{
    display: flex;
    gap: 20px;
}

.card{
    flex:  1 1 200px;
    padding: 10px;
    border-radius: 20px;
    background-color: lightblue;
}

/*lab4*/
@media (max-width: 768px){
    .dashboard {
        flex-direction: column;
    }
}

@media (max-width: 480px){
    .dashboard {
        padding: 10px
    }
}
